---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: name=John%20Doe&type=individual&email=jeff%40towne.com
    headers:
      Authorization:
      - Bearer sk_test_2K6AkjxetfMFks2xBoGKB6wy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_10394w2ZrWrq8HpzA4dHPcwp",
          "object": "recipient",
          "created": 1387382572,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "jeff@towne.com",
          "name": "John Doe",
          "verified": false,
          "metadata": {},
          "active_account": null
        }
  recorded_at: Wed, 18 Dec 2013 16:02:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: name=John%20Doe&type=individual&email=eldridge%40goldner.us
    headers:
      Authorization:
      - Bearer sk_test_2K6AkjxetfMFks2xBoGKB6wy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_10394w2ZrWrq8HpzFadqc5ud",
          "object": "recipient",
          "created": 1387382573,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "eldridge@goldner.us",
          "name": "John Doe",
          "verified": false,
          "metadata": {},
          "active_account": null
        }
  recorded_at: Wed, 18 Dec 2013 16:02:53 GMT
recorded_with: VCR 2.8.0
