---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: name=John%20Doe&type=individual&email=cheyanne%40goodwin.biz
    headers:
      Authorization:
      - Bearer sk_test_2K6AkjxetfMFks2xBoGKB6wy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_10394w2ZrWrq8HpzS3Sg5NdF",
          "object": "recipient",
          "created": 1387382567,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "cheyanne@goodwin.biz",
          "name": "John Doe",
          "verified": false,
          "metadata": {},
          "active_account": null
        }
  recorded_at: Wed, 18 Dec 2013 16:02:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: name=John%20Doe&type=individual&email=arnulfo%40kiehn.biz
    headers:
      Authorization:
      - Bearer sk_test_2K6AkjxetfMFks2xBoGKB6wy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_10394w2ZrWrq8HpzVtLTSrTH",
          "object": "recipient",
          "created": 1387382568,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "arnulfo@kiehn.biz",
          "name": "John Doe",
          "verified": false,
          "metadata": {},
          "active_account": null
        }
  recorded_at: Wed, 18 Dec 2013 16:02:48 GMT
recorded_with: VCR 2.8.0
